@model BuildingManagement.Models.PropertyInfo




@{
    ViewData["Title"] = "Property Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-6">
                <h4>@ViewData["Title"]</h4>
            </div>
            <div class="col-6">
                <div class="breadcrumb float-right active">
                    <a asp-action="Index" class="btn btn-primary">Back to List <i class="fas fa-back"></i></a>

                </div>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="card card-gray">
            <div class="card-header">
                <h3 class="card-title">
                    Are you sure you want to delete this?
                </h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">

                        <dl class="row">
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.PropId)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.PropId)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.PropNme)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.PropNme)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Phone1)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Phone1)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Phone2)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Phone2)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Email)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Email)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.City)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.City)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Township)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Township)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Addr)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Addr)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.AcreMeasure)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.AcreMeasure)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Billitem)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Billitem)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.BlockCount)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.BlockCount)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.RoomCount)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.RoomCount)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.ParkingCount)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.ParkingCount)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.ParkingSizeDesc)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.ParkingSizeDesc)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.PoolCount)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.PoolCount)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.PoolSizeDesc)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.PoolSizeDesc)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.EstiblishDte)
                            </dt>
                            <dd class="col-sm-10">
                                @Convert.ToDateTime(Model.EstiblishDte).ToString("dd-MM-yyyy")
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <form asp-action="Delete">
                    <input type="hidden" asp-for="PropId" />
                    <input type="submit" value="Delete" class="btn btn-danger" />
                </form>

            </div>
        </div>
    </div>
</section>



