@model BuildingManagement.Models.Propertyinfo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Propertyinfo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PropNme)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PropNme)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Township)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Township)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Addr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Addr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AcreMeasure)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AcreMeasure)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResitypId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResitypId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BlockCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BlockCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoomCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoomCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParkingCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParkingCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParkingSizeDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParkingSizeDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PoolCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PoolCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PoolSizeDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PoolSizeDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstiblishDte)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstiblishDte)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CmpyId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CmpyId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RevDteTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RevDteTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PropId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
