@model IEnumerable<BuildingManagement.Models.PropertyInfo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PropNme)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Township)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Addr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcreMeasure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResitypId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BlockCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParkingCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParkingSizeDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PoolCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PoolSizeDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstiblishDte)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CmpyId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RevDteTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PropNme)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Township)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Addr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcreMeasure)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResitypId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BlockCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParkingCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParkingSizeDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PoolCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PoolSizeDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstiblishDte)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CmpyId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RevDteTime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PropId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PropId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PropId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
