@model BuildingManagement.Models.Tenant

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Tenant</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenantNme)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenantNme)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Occupany)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Occupany)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocalFlg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocalFlg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PermentAddr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PermentAddr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CmpyId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CmpyId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RevDteTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RevDteTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TenantId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
