@model BuildingManagement.Models.Propertyroom

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Propertyroom</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PropId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PropId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoomNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoomNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BdtypId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BdtypId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SqFullMeasure)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SqFullMeasure)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SqRooMeasure)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SqRooMeasure)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AmenityDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AmenityDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FeatureDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FeatureDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Addr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Addr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenantId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenantId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CmpyId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CmpyId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RevDteTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RevDteTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.RoomId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
