@model BuildingManagement.Models.PropertyRoom



@{
    ViewData["Title"] = "Property Room";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-6">
                <h4>@ViewData["Title"]</h4>
            </div>
            <div class="col-6">
                <div class="breadcrumb float-right">
                    <a asp-action="Index" class="btn btn-primary">Back to List <i class="fas fa-back"></i></a>

                </div>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="card card-gray">
            <div class="card-header">
                <h3 class="card-title">@ViewData["Title"] Edit</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                                              
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <form asp-action="Edit">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <input type="hidden" asp-for="RoomId" />
                            <div class="form-group">
                                <label asp-for="RoomNo" class="control-label"></label>
                                <input asp-for="RoomNo" class="form-control" />
                                <span asp-validation-for="RoomNo" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PropId" class="control-label"></label>
                                <select asp-for="PropId" class="form-control form-select" asp-items="@ViewBag.PropertyList">
                                    <option value=""> - Select One - </option>
                                </select>
                                <span asp-validation-for="PropId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="TenantId" class="control-label"></label>
                                <select asp-for="TenantId" class="form-control form-select" asp-items="@ViewBag.TenantList">
                                    <option value=""> - Select One - </option>
                                </select>
                                <span asp-validation-for="TenantId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="BdtypId" class="control-label"></label>
                                <select asp-for="BdtypId" class="form-control form-select" asp-items="@ViewBag.BuildingTypeList">
                                    <option value=""> - Select One - </option>
                                </select>

                                <span asp-validation-for="BdtypId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="LocId" class="control-label"></label>
                                <select asp-for="LocId" class="form-control form-select" asp-items="@ViewBag.LocationList">
                                    <option value=""> - Select One - </option>
                                </select>
                                
                                <span asp-validation-for="LocId" class="text-danger"></span>
                            </div>
                                    <div class="form-group">
                                        <label asp-for="SqFullMeasure" class="control-label"></label>
                                        <input asp-for="SqFullMeasure" class="form-control" />
                                        <span asp-validation-for="SqFullMeasure" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="SqRooMeasure" class="control-label"></label>
                                        <input asp-for="SqRooMeasure" class="form-control" />
                                        <span asp-validation-for="SqRooMeasure" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="AmenityDesc" class="control-label"></label>
                                        <input asp-for="AmenityDesc" class="form-control" />
                                        <span asp-validation-for="AmenityDesc" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="FeatureDesc" class="control-label"></label>
                                        <input asp-for="FeatureDesc" class="form-control" />
                                        <span asp-validation-for="FeatureDesc" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Addr" class="control-label"></label>
                                        <input asp-for="Addr" class="form-control" />
                                        <span asp-validation-for="Addr" class="text-danger"></span>
                                    </div>
                         
                                   
                                <div class="form-group">
                                <input type="submit" value="Save" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>



            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        function changeImage() {
            var input = document.getElementById('inputMainImg');
            var newImg = document.getElementById('newImg');
            var oldImg = document.getElementById('oldImg');
            if (input.files && input.files[0]) {

                var file = input.files[0];
                newImg.style.display = "flex";
                oldImg.style.display = "none";
                var reader = new FileReader();
                reader.onload = function (e) {
                    newImg.src = e.target.result;
                };

                reader.readAsDataURL(file);
            }
            else {
                newImg.style.display = "none";
            }
        }

        function changeImages(input) {
            const imageContainer = document.getElementById('image-container');
            imageContainer.innerHTML = '';

            const files = input.files;
            for (let i = 0; i < files.length; i++) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    const img = document.createElement('img');
                    img.width = 120;
                    img.height = 100;
                    img.style.marginRight = 10 + 'px';
                    img.style.marginBottom = 10 + 'px';
                    img.src = e.target.result;
                    imageContainer.appendChild(img);
                };
                reader.readAsDataURL(files[i]);
            }
        }
    </script>

}
